*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body    {
    height: 100vh;
}
 .contacto {
    background-color: cadetblue;
    padding: 30px;
 }
 .box-contacto  {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 40px;
    padding: 50px;
 }
 .contactame {
    background-color: crimson;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    align-items: center;
 }
 .h1contactame  {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
 }
 .pcontactame    {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 50;
    width: 500px;
    padding: 20px;
 }

 .contactame-box    {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    align-items: center;
 }
 .contactame-list   {
    display: flex;
    flex-direction: row;
    margin: 10px
 }
 .contactame-link   {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
 }
/* formulario style */

.h1-contactame  {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center; 
}

.formulario    {
    background-color: palevioletred;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}
.form-list  {
    list-style: none;
}
.contactame-form-completar  {
    padding: 15px;
}
.li-form    {
    background-color: white;
    margin: -10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.div-label {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

input   {
    width: 50%;
    height: 30px;
    border-radius: 15px;
    outline: none;
    text-align: center;
    display: flex;
    align-items: center;
}
textarea    {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    outline: none;
}

/* <section class="contacto">
        <div class="box-contacto">

            <div class="contactame">
                <h1 class="h1contactame">Contactame</h1>
                <p class="pcontactame">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto voluptatibus repellat quos vel doloremque quidem alias accusamus eaque tenetur ipsa iste eos, dolor inventore cumque a nulla quibusdam consectetur magnam!</p>
               <ul class="contactame-box">
                   <li class="contactame-list">
                        <a class="contactame-link" href="#">
                        <i class="devicon-twitter-plain twitter-contacto"></i>
                        <h3 class="h3-icono">@Adalovelace</h3>
                        </a>
                   </li>
                   <li class="contactame-list">
                        <a class="contactame-link" href="https://github.com/barbifranco22"target="_blank">
                        <i class="devicon-github-plain github-contacto"></i>
                        <h3 class="h3-icono">barbifranco22</h3>
                        </a>
                   </li>
                   <li class="contactame-list">
                        <a class="contactame-link" href="https://www.linkedin.com/in/barbaravillalbafranco"target="_blank">
                        <i class="devicon-linkedin-plain linkedin-contacto"></i>
                        <h3 class="h3-icono">Barbara Villalba</h3>
                        </a>
                   </li>
                   <li class="contactame-list">
                        <a class="contactame-link" href="mailto:barbara.villalbaf@hotmail.com">
                        <i class="far fa-envelope-open email-icon mail-contacto"></i>
                        <h3 class="h3-icono">barbara.villalbaf@hotmail.com</h3>
                        </a>
                   </li>
                </ul>
            </div>
                
            <div class="formulario">
                <h1 class="h1-contactame">Escribeme</h1>
                <form class="contactame-form-completar" action="">
                    <ul class="form-list">
                        <li class="li-form">
                            <div class="div-label"><label for="name">Nombre:</label></div>
                            <input  type="text" id="name"  placeholder="Ingresa tu nombre">
                        </li>
                        <li class="li-form"> 
                            <div class="div-label"><label for="name">Apellido:</label></div>
                            <input  type="text" id="surname"  placeholder="Ingresa tu apellido">   
                        </li>  
                        <li class="li-form">
                            <div class="div-label"><label for="mail">Correo electrónico:</label></div>
                            <input  type="email" id="mail"  placeholder="Ingresa tu email">
                        </li>
                        <li class="li-form">
                            <div class="div-label"><label for="msg">Mensaje:</label></div>
                            <textarea id="msg" placeholder="Ingresa tu texto" minlength="10" maxlength="150" required></textarea>
                        </li>
                    </ul>
                </form>
            </div>
            
        </div>     
    </section> */