*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body    {
    height: 100vh;
}
.contacto   {
    background-color: #f6f7fb;
    margin: 70px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.contactame {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px;  
}
.contactame-form    {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.contactame-link    {
    display: flex;
    flex-direction: row;
}
.h1contactame, .h1-contactame   {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding: 15px;
}
.pcontactame    {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 15px;
    width: 100%;
}
.caja-iconos    {
    display: flex;
    flex-direction: column;
}
.contactame-link    {
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
}
.contactame-link:hover  {
    background-color: papayawhip;
    border-radius: 20px;
    width: fit-content;
}
.h3-icono   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.twitter-contacto, .github-contacto, .linkedin-contacto, .mail-contacto {
    /* padding: 5px; */
    margin: 5px;
    color: #ff6584;
}
.contactame-button  {
    background-color:#ff6584 ;
    border-radius: 100px;
    width: 150px;
    height: 50px;
    margin: auto;
    padding: 10px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}
.form-list  {
    list-style: none;
}
.contactame-form-completar  {
    padding: 15px;
}
.li-form    {
    background-color: white;
    margin: -10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
.div-label {
    margin: 5px;
    padding: 5px;
}

input   {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    outline: none;
}
textarea    {
    width: 100%;
    height: 70px;
    border-radius: 15px;
    outline: none;
}
