*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body    {
    height: 100vh;
}
.contacto   {
    background-color: #f6f7fb;
    margin: 70px;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
}
.contactame {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px;  
}
.contactame-form    {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.contactame-link    {
    display: flex;
    flex-direction: row;
}
.h1contactame, .h1-contactame   {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 600;
    padding: 15px;
}
.pcontactame    {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 15px;
    width: 350px;
}
.caja-iconos    {
    display: flex;
    flex-direction: column;
}
.contactame-link    {
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
}
.contactame-link:hover  {
    background-color: papayawhip;
    border-radius: 20px;
    width: fit-content;
}
.h3-icono   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin: 5px;
    text-decoration: none;
    color: black;
}
.twitter-contacto, .github-contacto, .linkedin-contacto, .mail-contacto {
    /* padding: 5px; */
    margin: 5px;
    color: #ff6584;
}
.contactame-button  {
    background-color:#ff6584 ;
    border-radius: 100px;
    width: 100px;
    height: 50px;
    margin-top: 200px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}
.form-list  {
    list-style: none;
}
.contactame-form-completar  {
    padding: 15px;
}






/* <section class="contacto">
        <div class="contactame">
            <h1 class="h1contactame">Contactame</h1>
            <p class="pcontactame">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto voluptatibus repellat quos vel doloremque quidem alias accusamus eaque tenetur ipsa iste eos, dolor inventore cumque a nulla quibusdam consectetur magnam!</p>
            <div class="caja-iconos">
                <a class="contactame-link" href="#">
                    <i class="devicon-twitter-plain"></i>
                    <h3 class="h3-icono">@Adalovelace</h3>
                </a>
                <a class="contactame-link" href="https://github.com/barbifranco22">
                    <i class="devicon-github-plain"></i>
                    <h3 class="h3-icono">barbifranco22</h3>
                </a>
                <a class="contactame-link" href="https://www.linkedin.com/in/barbaravillalbafranco">
                    <i class="devicon-linkedin-plain"></i>
                    <h3 class="h3-icono">Barbara Villalba</h3>
                </a>
            </div>
        </div>

        <div class="contactame-form" id="idcontact">
            <h1 class="h1-contactame">Escribeme</h1>
            <form class="contactame-form-completar" action="">
                <ul>
                    <li>
                      <label for="name">Nombre:</label>
                      <input type="text" id="name"  placeholder="Ingresa tu nombre">
                    </li>
                    <li>
                        <label for="name">Apellido:</label>
                        <input type="text" id="surname"  placeholder="Ingresa tu apellido">
                      </li>
                    <li>
                      <label for="mail">Correo electrónico:</label>
                      <input type="email" id="mail"  placeholder="Ingresa tu email">
                    </li>
                    <li>
                      <label for="msg">Mensaje:</label>
                      <textarea id="msg" placeholder="Ingresa tu texto"></textarea>
                    </li>
                   </ul>
            </form>
            <button class="contactame-button">Enviar</button>
        </div>
    </section> */
 
