*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body  {
    height: 100vh;
} 
.proyectos  {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* margin-bottom: 100px; */
    background-color: #f6f7fb;
    padding-bottom: 50px;
    width: 100%;
} 
.mis-proyectos   {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.mis-proyectos-title    {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 45px;
    padding: 10px;
    margin: 10px;
    
}
.pmisproyectos   {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    width: 500px;
    display: flex;
    text-align: center;
    padding: 10px;
}
.caja-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.caja-proyectos-dentro  {
    border: 1px solid #dddfe5;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    background-color: white;
}
.caja-proyectos-dentro:hover    {
    border: 2px solid #fc6681;
}
.img-proyecto   {
    width: 300px;
    height: 300px;
}

.proyect-name   {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 15px;
}

@media (min-width:320px) and (max-width:900px)  {
    .pmisproyectos  {
        display: flex;
        flex-shrink: inherit;
        width: 75%;
    }
}
    