*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body    {
    height: 100vh;
}
.quote  {
    background-color: #f9a826;
}
.blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fig-quote  {
    display: flex;
    justify-content: center;
    margin: 50px;
}
.img-quote  {
    width: 70px;
    height: 70px;
    color:  white; 
} 
.pquote {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    
    display: flex;
    justify-content: center;
}
.h2-quote   {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 10px;
}
